.home-section {
  min-height: 100vh;
  position: relative;
  .banner-content {
    // width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    color: #fff;
    height: 100%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #0000006b;
    }
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      background: url("../../../assets/Bg_03.png");
      width: 100%;
      height: 100%;
      z-index: 1;
      background-size: cover;
      background-position-x: center;
      background-repeat: no-repeat;
      background-position-y: bottom;
    }
  }
  .written-content {
    position: absolute;
    top: 17%;
    left: 15%;
    z-index: 99;
    font-family: "Lato", sans-serif;
    .heading h1 {
      width: auto;
      line-height: 90px;
      color: #fff;
      background: 0 0;
      -webkit-text-fill-color: #fff;
      font-size: 72px;
      font-weight: 800;
      font-family: "Lato", sans-serif;
    }
    .excellent {
      .exc-txt {
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        margin-right: 15px;
        letter-spacing: 1px;
        font-family: "Lato", sans-serif;
      }
      .icon {
        padding: 3px;
        color: white;
        background: #007b5e;
      }
    }
    .reviews {
      color: #fff;
    }
    .headline {
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 1px;
      font-weight: 700;
      color: #fff;
    }
    .paragraph {
      p {
        color: rgba(255, 255, 255, 0.75);
        font-size: 20px;
        font-weight: normal;
        line-height: 62px;
      }
    }
    .button {
      border-radius: 30px;
      color: #fff;
      font-weight: 900;
      font-size: 15px;
      padding: 12px 32px;
      background: -webkit-linear-gradient(
        330deg,
        rgba(255, 74, 158, 0) 0%,
        #007b5e 100%
      );
      background: linear-gradient(
        120deg,
        rgba(255, 74, 158, 0) 0%,
        #007b5e 100%
      );
      background-color: #007b5e;
      letter-spacing: 1px;
    }
    .button:focus {
      outline: none;
    }
  }

  ::ng-deep {
    .banner-content {
      .slick-next {
        right: unset !important;
      }
      .slick-dots {
        bottom: unset !important;
      }
      .slick-dotted.slick-slider {
        margin-bottom: unset !important;
        min-height: 100vh !important;
        height: 100vh !important;
      }
      .slick-prev {
        left: unset !important;
      }
      .slick-slide img {
        min-height: 100vh;
      }
      .slick-list {
        min-height: 100vh;
      }
      .slick-initialized .slick-slide::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgb(0 0 0 / 61%);
        z-index: 1;
      }
      .slick-dots {
        // display: flex !important;
        // flex-flow: column;
        // top: 50% !important;
        // left: 2% !important;
        // transform: translate(-49%, -50%);
        // z-index: 999999;
        // width: unset !important;
        display: none !important;
      }
      .slick-dots li button:before {
        width: 30px !important;
        height: 30px !important;
        font-family: "slick";
        font-size: 14px !important;
        color: #fff !important;
        opacity: 0.25;
      }
      .slick-dots li.slick-active button:before {
        color: #fff !important;
        opacity: 0.75;
      }
    }
  }
}

.content-section {
  .container {
    max-width: 900px;
  }
  .text-center {
    .heading {
      text-transform: uppercase;
      font-size: 36px;
      font-weight: 900;
      color: #007b5e;
    }
    .headline {
      color: #9da4a2;
      margin-top: 35px;
      font-size: 26px;
      font-weight: 500;
      text-align: center;
      line-height: 30px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      color: #6d7c90;
      line-height: 28px;
    }
    .know-more {
      border: 1px solid #007b5e;
      border-radius: 20px;
      background: #007b5e;
      color: white;
      font-size: 14px;
      padding: 10px 35px;
      margin-top: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      box-shadow: 2px 7px 6px 1px rgba(83, 81, 81, 0.144);
    }
  }
}

.contact-buttons-bar {
  position: fixed !important;
  top: 25% !important;
  left: -50px;
  width: 50px;
  z-index: 999999;
  .contact-button-link {
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-bottom: 1px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    background: #007b5e;
    color: #fff;
    position: relative;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms;
  }
  .contact-button-link.show-hide-contact-bar {
    background: transparent;
    color: #898585;
    border: 0;
    outline: 0;
    padding: 0;
    width: 50px;
  }
  .contact-button-link.show-hide-contact-bar:hover {
    background: #007b5e;
    color: #ffff;
  }
  .contact-button-link.facebook {
    background: #3b5998;
  }
  .contact-button-link.twitter {
    background: #0084b4;
  }
  .contact-button-link.snapchat {
    background-color: #ff0;
  }
  .contact-button-link.instagram {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .contact-button-link.linkedin {
    background: #0073b1;
  }
  .contact-button-link.telegram {
    background: #27a7e5;
  }
  .contact-button-link.youtube {
    background: red;
  }
  .social-icon:hover {
    color: #fff;
    padding-left: 20px;
    width: 70px;
  }
}

.video-section {
  .featured-video-container {
    .play-button-container {
      cursor: pointer;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 164px;
      height: 164px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      background: -webkit-linear-gradient(
        330deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 100%
      );
      background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 100%
      );
      box-shadow: 0 24px 72px 0 rgba(0, 0, 0, 0.5);
      -webkit-transition: 300ms all cubic-bezier(0.4, 0, 0.2, 1);
      transition: 300ms all cubic-bezier(0.4, 0, 0.2, 1);
      .play-button {
        z-index: 2;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-transition: 300ms all cubic-bezier(0.4, 0, 0.2, 1);
        transition: 300ms all cubic-bezier(0.4, 0, 0.2, 1);
        .btn-span {
          font-size: 34px;
          color: black;
        }
      }
      .play-button:hover {
        width: 135px;
        height: 135px;
      }
    }
    .play-button-container:hover {
      -webkit-transform: translate(-50%, -50%) scale(0.96);
      transform: translate(-50%, -50%) scale(0.96);
    }
    .image-container {
      position: relative;
      width: max-content;
      height: 445px;
      .image {
        width: max-content;
        height: 445px;
        border-radius: 10px;
      }
    }
    .image-container:after {
      border-radius: 10px;
      content: "";
      width: 100%;
      height: 100%;
      background-color: red;
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      background: -webkit-linear-gradient(
        rgba(28, 158, 136, 0.5) 0%,
        330deg,
        rgba(28, 158, 136, 0.5) 0%,
        #007b5e 100%
      );
      background: linear-gradient(
        120deg,
        rgba(28, 158, 136, 0.5) 0%,
        #007b5e 100%
      );
    }
  }
}

#team {
  background: #fcfcff;

  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
  }

  .btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
  }

  section {
    padding: 60px 0;
  }

  .section-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  #team .card {
    border: none;
    background: #ffffff;
  }

  .image-flip:hover .backside,
  .image-flip.hover .backside {
    cursor: pointer;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: 0.25rem;
  }

  .image-flip:hover .frontside,
  .image-flip.hover .frontside {
    cursor: pointer;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .mainflip {
    cursor: pointer;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
  }

  .frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
  }

  .backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgba(103, 151, 255, 0.22),
      5px 7px 9px -4px rgba(103, 151, 255, 0.22);
    -moz-box-shadow: 5px 7px 9px -4px rgba(103, 151, 255, 0.22),
      5px 7px 9px -4px rgba(103, 151, 255, 0.22);
    box-shadow: 5px 7px 9px -4px rgba(103, 151, 255, 0.22),
      5px 7px 9px -4px rgba(103, 151, 255, 0.22);
  }

  .frontside,
  .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
  }

  .frontside .card,
  .backside .card {
    min-height: 312px;
  }

  .backside .card a {
    font-size: 18px;
    color: #007b5e !important;
  }

  .frontside .card .card-title,
  .backside .card .card-title {
    color: #007b5e !important;
  }

  .frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}

.shine-for-everyone {
  .shine-container {
    padding: 20px;
    width: 100%;
    height: max-content;
    background: linear-gradient(
      120deg,
      rgba(28, 158, 136, 0.705) 0%,
      #007b5e 100%
    );
    background: radial-gradient(
      circle at top left,
      rgba(28, 158, 136, 0.884) 0%,
      #007b5e 100%
    );
    box-shadow: 5px 7px 9px -4px rgba(103, 151, 255, 0.22),
      5px 7px 9px -4px rgba(103, 151, 255, 0.22);
    .card-heading {
      padding-top: 20px;
      line-height: 45px;
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      color: #ffff;
      text-transform: capitalize;
    }
    .card-container{
      .card-1{
        padding: 30px 20px;
      }
      .card-1:hover{
        box-shadow: 3px 3px 12px 2px darkgrey;
      }
      .card1-heading{
        color: white;
        font-size: 20px;
        font-weight: 500;
      }
      .content{
        color: rgba(255,255,255,.75);
        line-height: 24px;
        font-size: 16px;
      }
    }
  }
}

.product-features-section{
  .left-content{
    display: flex;
    justify-content: center;
    align-items: center;
     img{
       width: 75%;
       height: 75%;
     }
  }
  .right-content{
    h1{
      padding: 45px 20px;
      padding-top: 60px;
      font-size: 72px;
      font-weight: 600;
      background-image: -webkit-linear-gradient(120deg,#55c0ac 0%, #007b5e 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h2{
      padding: 0px 20px;
      color: #20292f !important;
      font-size: 28px;
    }
    .content{
      font-size: 17px;
      padding: 0px 20px;
      line-height: 24px;
      color: #6d7c90;
    }
    .button-div{
      display: flex;
      width: 60%;
      flex-direction: column;
      .button {
        border-radius: 30px;
        color: #fff;
        font-weight: 900;
        font-size: 15px;
        padding: 12px 32px;
        background: -webkit-linear-gradient(
          330deg,
          rgba(16, 170, 106, 0.856) 0%,
          #007b5e 100%
        );
        background: linear-gradient(
          120deg,
          rgba(16, 170, 106, 0.856) 0%,
          #007b5e 100%
        );
        letter-spacing: 1px;
      }
      .button:focus {
        outline: none;
        background-color:#007b5e ;
      }
      // .gmail-icon-color{
      //   color: #ff0000;
      //   font-size: 15px;
      // }
      // .fb-icon-color{
      //   color: #3b5998;
      //   font-size: 15px;
      // }
      // .insta-icon-color{
      //   color: #cc2366;
      //   font-size: 15px;
      // }
    }
  }
}
