<div class="home-section container-fluid p-0">
  <div class="banner-content" style="overflow: hidden !important">
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div ngxSlickItem class="slide">
        <img src="./assets/bg1.jpg" alt="" width="100%" />
      </div>
      <div ngxSlickItem class="slide">
        <img src="./assets/bg2.jpg" alt="" width="100%" />
      </div>
      <div ngxSlickItem class="slide">
        <img src="./assets/bg1.jpg" alt="" width="100%" />
      </div>
    </ngx-slick-carousel>
  </div>
  <div class="written-content">
    <div class="heading"><h1>Shine Consultancy</h1></div>
    <div class="excellent d-flex">
      <div class="exc-txt">Excellent</div>
      <div>
        <span class="icon mr-1"><i class="fa fa-star"></i></span>
        <span class="icon mr-1"><i class="fa fa-star"></i></span>
        <span class="icon mr-1"><i class="fa fa-star"></i></span>
        <span class="icon mr-1"><i class="fa fa-star"></i></span>
        <span class="icon mr-1"><i class="fa fa-star"></i></span>
      </div>
      <div class="reviews d-flex ml-2">
        <h4 class="mr-2">11,502</h4>
        reviews on
      </div>
      <div class="text-white ml-2">
        <i class="fa fa-instagram"></i> instagram
      </div>
    </div>
    <div class="headline">
      The Most Popular WordPress Themes In The <br />
      World And The Ultimate Visual Page Builder
    </div>
    <div class="paragraph">
      <p>Join 701,600 Empowered Web Design Professionals & Business Owners</p>
    </div>
    <button class="btn btn-lg button">UNLOCK THE POWER OF DIVI</button>
  </div>
</div>

<div class="content-section container">
  <div class="row">
    <div class="d-flex justify-content-center align-content-center">
      <div class="text-center mt-5">
        <div class="heading">Shine Consultancy</div>
        <h1 class="headline">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
          perferendis laboriosam qui vitae commodi ut, quo dolorem provident
          nihil?
        </h1>
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At commodi
          atque quae excepturi aut cumque iure esse odit praesentium nobis cum
          dolorem in dolorum assumenda quibusdam eos pariatur laudantium, iusto
          numquam veniam quam. Hic earum incidunt provident debitis recusandae
          non aut animi perspiciatis reiciendis saepe assumenda omnis dolorem
          consequatur, quia voluptates asperiores minima natus, sint optio
          blanditiis? Aut, minus ipsa neque saepe provident rem vitae nobis hic
          vero? Quasi consectetur fugit non tempora aliquid illo molestiae
          deleniti illum dolores facere.
        </p>
        <button class="btn know-more align-self-center">
          LEARN MORE ABOUT SHINE
        </button>
      </div>
    </div>
  </div>
  <br /><br /><br />
</div>

<div
  class="slide-on-scroll contact-buttons-bar"
  data-top="180.6px"
  style="left: 0px"
>
  <button
    class="contact-button-link show-hide-contact-bar"
    (click)="showSocial()"
    *ngIf="show"
  >
    <span class="fa fa-angle-left"></span>
  </button>
  <button
    class="contact-button-link show-hide-contact-bar"
    (click)="showSocial()"
    *ngIf="!show"
  >
    <span class="fa fa-angle-right"></span>
  </button>
  <div *ngIf="show">
    <a
      target="_blank"
      href="#"
      class="contact-button-link cb-ancor facebook social-icon"
      title="Follow on Facebook"
      ><span class="fa fa-facebook"></span></a
    ><a
      target="_blank"
      href="#"
      class="contact-button-link cb-ancor twitter social-icon"
      title="Follow on Twitter"
      ><span class="fa fa-twitter"></span></a
    ><a
      target="_blank"
      href="#"
      class="contact-button-link cb-ancor snapchat social-icon"
      title="Follow on snapchat"
      ><span class="fa fa-snapchat"></span></a
    ><a
      target="_blank"
      href="#"
      class="contact-button-link cb-ancor instagram social-icon"
      title="Follow on instagram"
      ><span class="fa fa-instagram"></span></a
    ><a
      target="_blank"
      href="#"
      class="contact-button-link cb-ancor linkedin social-icon"
      title="Visit on LinkedIn"
      ><span class="fa fa-linkedin"></span></a
    ><a
      target="_blank"
      href="#"
      class="contact-button-link cb-ancor telegram social-icon"
      title="Follow on telegram"
      ><span class="fa fa-telegram"></span></a
    ><a
      target="_blank"
      href="#"
      class="contact-button-link cb-ancor youtube social-icon"
      title="Follow on Youtube"
      ><span class="fa fa-youtube"></span
    ></a>
  </div>
</div>

<section class="video-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="featured-video-container d-flex justify-content-center">
        <div class="image-container">
          <div class="play-button-container">
            <div class="play-button">
              <span class="fa fa-play btn-span"></span>
            </div>
          </div>
          <img
            class="image"
            src="https://www.elegantthemes.com/images/home/divi-video-cover.jpg"
            alt="image"
          />
          <div class="image-overlay"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />

<section id="team" class="pb-5">
  <br /><br /><br />
  <div class="container">
    <h5 class="section-title h1 text-center">OUR TEAM</h5>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.
                  </p>
                  <a
                    href="https://www.fiverr.com/share/qb8D02"
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.This is basic card with image on top, title,
                    description and button.This is basic card with image on top,
                    title, description and button.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.
                  </p>
                  <a
                    href="https://www.fiverr.com/share/qb8D02"
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.This is basic card with image on top, title,
                    description and button.This is basic card with image on top,
                    title, description and button.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.
                  </p>
                  <a
                    href="https://www.fiverr.com/share/qb8D02"
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.This is basic card with image on top, title,
                    description and button.This is basic card with image on top,
                    title, description and button.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.
                  </p>
                  <a
                    href="https://www.fiverr.com/share/qb8D02"
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.This is basic card with image on top, title,
                    description and button.This is basic card with image on top,
                    title, description and button.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.
                  </p>
                  <a
                    href="https://www.fiverr.com/share/qb8D02"
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.This is basic card with image on top, title,
                    description and button.This is basic card with image on top,
                    title, description and button.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.
                  </p>
                  <a
                    href="https://www.fiverr.com/share/qb8D02"
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.This is basic card with image on top, title,
                    description and button.This is basic card with image on top,
                    title, description and button.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.fiverr.com/share/qb8D02"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
    </div>
  </div>
</section>

<section class="shine-for-everyone">
  <div class="container">
    <div class="shine-container">
      <div class="mt-5">
        <h1 class="card-heading text-center">Shine Consultancy For Everyone</h1>
      </div>
      <div class="container card-container">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 card-1">
            <div>
              <h4 class="card1-heading">Freelancers</h4>
              <p class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusantium obcaecati fugit error laborum dignissimos laboriosam
                tempore id assumenda, reprehenderit corporis labore ipsum
                suscipit ipsa unde eveniet quos, mollitia nam, alias cumque hic
                commodi expedita magni?
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 card-1">
            <div>
              <h4 class="card1-heading">Agencies</h4>
              <p class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusantium obcaecati fugit error laborum dignissimos laboriosam
                tempore id assumenda, reprehenderit corporis labore ipsum
                suscipit ipsa unde eveniet quos, mollitia nam, alias cumque hic
                commodi expedita magni?
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 card-1">
            <div>
              <h4 class="card1-heading">Owners</h4>
              <p class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusantium obcaecati fugit error laborum dignissimos laboriosam
                tempore id assumenda, reprehenderit corporis labore ipsum
                suscipit ipsa unde eveniet quos, mollitia nam, alias cumque hic
                commodi expedita magni?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br/><br/><br><br>

<section class="product-features-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 left-content">
        <div class="d-flex justify-content-center align-items-center">
          <img
          src="../../../assets/content-img1.jpg"
          alt="no-image"
        />
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 right-content">
        <h1>Promote</h1>
        <h2>Split Testing, Lead Generation, and Social Media Integration</h2>
        <p class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, eum
          temporibus, labore ducimus ex animi omnis enim aliquam, eveniet odit
          natus debitis asperiores deserunt doloremque voluptate repellendus
          consequuntur sequi aliquid nesciunt sapiente? Quis velit, quidem animi
          iure soluta nobis officia. Animi veniam facere aut alias tenetur
          reiciendis tempore dicta similique!
        </p>
        <div class="button-div mt-3">
          <button class="btn btn-lg button mt-3"><i class="fa fa-envelope gmail-icon-color"></i> Post on Email</button>
          <button class="btn btn-lg button mt-3"><i class="fa fa-facebook fb-icon-color"></i> Post on Facebook</button>
          <button class="btn btn-lg button mt-3"><i class="fa fa-instagram insta-icon-color"></i> Post on instagram</button>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br><br><br>

<section class="product-features-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 right-content">
        <h1>Take Flight</h1>
        <h2>Split Testing, Lead Generation, and Social Media Integration</h2>
        <p class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, eum
          temporibus, labore ducimus ex animi omnis enim aliquam, eveniet odit
          natus debitis asperiores deserunt doloremque voluptate repellendus
          consequuntur sequi aliquid nesciunt sapiente? Quis velit, quidem animi
          iure soluta nobis officia. Animi veniam facere aut alias tenetur
          reiciendis tempore dicta similique!
        </p>
        <div class="button-div mt-3">
          <button class="btn btn-lg button mt-3"><i class="fa fa-envelope gmail-icon-color"></i> Post on Email</button>
          <button class="btn btn-lg button mt-3"><i class="fa fa-facebook fb-icon-color"></i> Post on Facebook</button>
          <button class="btn btn-lg button mt-3"><i class="fa fa-instagram insta-icon-color"></i> Post on instagram</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 left-content">
        <div class="d-flex justify-content-center align-items-center">
          <img
          src="../../../assets/content-img2.jpg"
          alt="no-image"
        />
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br><br><br>

<section class="product-features-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 left-content">
        <div class="d-flex justify-content-center align-items-center">
          <img
          src="../../../assets/content-img3.jpg"
          alt="no-image"
        />
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 right-content">
        <h1>Showcase</h1>
        <h2>Split Testing, Lead Generation, and Social Media Integration</h2>
        <p class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, eum
          temporibus, labore ducimus ex animi omnis enim aliquam, eveniet odit
          natus debitis asperiores deserunt doloremque voluptate repellendus
          consequuntur sequi aliquid nesciunt sapiente? Quis velit, quidem animi
          iure soluta nobis officia. Animi veniam facere aut alias tenetur
          reiciendis tempore dicta similique!
        </p>
        <div class="button-div mt-3">
          <button class="btn btn-lg button mt-3"><i class="fa fa-envelope gmail-icon-color"></i> Post on Email</button>
          <button class="btn btn-lg button mt-3"><i class="fa fa-facebook fb-icon-color"></i> Post on Facebook</button>
          <button class="btn btn-lg button mt-3"><i class="fa fa-instagram insta-icon-color"></i> Post on instagram</button>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br><br><br>
