<div class="container-fluid custom-footer">
  <div class="img-section">
    <img src="./assets/imgs/footer_bg.jpg" alt="footer-image" />
  </div>
  <div class="footer-section">
    <div class="container">
      <div class="bottom-section">
        <div class="top-heading">
          <span class="heading">
            <h1 class="m-0">SHINE CONSULTANCY</h1>
          </span>
          <!-- <div class="buttons-section">
            <button class="btn btn-lg">Our Works</button>
            <button class="btn btn-lg">View Our Team</button>
            <button class="btn btn-lg">Contact Us</button>
          </div> -->
        </div>
      </div>
      <div class="footer-menu-section">
        <div class="row">
          <div class="col-md-3">
            <div class="menu">
              <h1>Quick Links</h1>
              <ul>
                <li><a routerLink="rider/overview">Overview</a></li>
                <li><a routerLink="rider/how-it-works"> How we Work</a></li>
                <li><a routerLink="rider/fare-estimator"> About Us</a></li>
                <li><a routerLink="rider/help">Team</a></li>
                <li><a routerLink="rider/help">Contact Us</a></li>
                <li><a routerLink="rider/help">Help</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-form-container menu">
              <h1>Contact Us</h1>
              <!-- <ul>
                <li>
                  <p class="address">
                    Shine Consultancy <br />#343, third floor <br />front of Old
                    Town <br />Restaurants <br />Peer Muchulla,<br />Panchkula
                    Office
                  </p>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-phone mr-1"></i> +91-9876543210</a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-envelope mr-1"></i>shine_consultancy123@gmail.com</a>
                </li>
              </ul> -->
              <div class="contact-us-form">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <input
                      type="text"
                      formControlName="fullName"
                      placeholder="Full Name"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.fullName.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f.fullName.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.fullName.errors.required">
                        Name is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="email"
                      formControlName="email"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    />
                    <div
                      *ngIf="submitted && f.email.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.email.errors.required">
                        Email is required
                      </div>
                      <div *ngIf="f.email.errors.email">
                        Please enter a valid email address
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      formControlName="phoneNo"
                      placeholder="Phone"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.phoneNo.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f.phoneNo.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.phoneNo.errors.required">
                        Phone no. is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                     <textarea placeholder="write a message" name="" id="" cols="30" rows="4" class="form-control" formControlName="message"></textarea>
                  </div>
                  <button class="btn btn-lg submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-3S">
            <div class="menu">
              <!-- <h1>Book an Appointment</h1> -->
              <!-- <ul>
                <li>
                  <p>
                    Fix your Appointment <br />
                    right now
                  </p>
                </li>
                <li>
                  <button class="btn btn-lg book-button">
                    Book Appointment
                  </button>
                </li>
              </ul> -->
              <h1>Address</h1>
              <ul>
                <li>
                  <p class="address">
                    Shine Consultancy <br />#343, third floor <br />front of Old
                    Town <br />Restaurants <br />Peer Muchulla,<br />Panchkula
                    Office
                  </p>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-phone mr-1"></i> +91-9876543210</a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-envelope mr-1"></i>shine_consultancy123@gmail.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="download-app-section-footer">
        <div class="social-icon">
          <ul>
            <li><i class="lab la-facebook-f"></i></li>
            <li><i class="lab la-twitter"></i></li>
            <li><i class="lab la-instagram"></i></li>
            <li><i class="lab la-pinterest"></i></li>
          </ul>
        </div>

       
      </div>
      <div class="copy-right-text">
        <p>Copyright Shine Consultancy © 2018. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
