.custom-footer {
  padding: 0px;
  .img-section {
    img {
      width: 100%;
    }
  }
  .footer-section {
    width: 100%;
    // background: #000000;
    background: linear-gradient(120deg, rgb(16 93 68) 0%, #022c22 100%);
    padding: 70px 0;
    padding-bottom: 0px;
    .bottom-section {
      width: 100%;
      padding: 12px 18px;
      border-bottom: 1px solid #666;
      .top-heading {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        .heading {
          display: block;
          h1 {
            color: #ffffff;
            font-size: 40px;
          }
        }
        .buttons-section {
          button {
            color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: unset;
            margin-left: 10px;
            cursor: pointer;
            &:hover {
              background: #ffffff;
              color: #000000;
            }
          }
        }
      }
    }
    .footer-menu-section {
      padding: 16px 22px;
      border-bottom: 1px solid #666;
      padding-bottom: 25px;
      .contact-form-container{
        .contact-us-form{
          .form-control{
            width: 75% !important;
          }
          .submit{
            color: white;
            background: linear-gradient(45deg, black, transparent);
          }
          .form-control:focus,.submit:focus{
            outline: none;
            box-shadow: none;
          }
        }
      }
      .menu {
        h1 {
          color: #ffffff;
        }
        ul {
          padding: unset;
          li {
            list-style: none;
            color: #ffffff;
            font-size: 16px;
            padding: 6px 0px;
            a {
              width: max-content;
              cursor: pointer;
              color: #ffffff;
              &:hover {
                color: #ffffff;
              }
            }
          }
        }

        .book-button {
                color: #ffffff;
                border: 1px solid #ffffff;
                border-radius: unset;
                margin-left: 10px;
                cursor: pointer;
                &:hover {
                  background: #ffffff;
                  color: #000000;
                }
        }
        .address{
          line-height: 24px;
        }
      }
    }
    .download-app-section-footer {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      padding: 15px 15px;
      border-bottom: 1px solid #666;
      .social-icon {
        display: block !important;
        ul {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          padding: unset;
          margin: unset;
          padding-left: 21px;
          li {
            list-style: none;
            padding-right: 61px;
            i {
              font-size: 16px;
              color: #ffffff;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              &:hover {
                scale: 1;
              }
            }
          }
        }
      }
      .download-button {
        button {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          border: 1px solid #ffffff;
          .text {
            display: flex;
            flex-flow: column;
            text-align: initial;
            padding-left: 27px;
            span {
              display: block;
              letter-spacing: 1px;
            }
            .top-text {
              color: #ffffff;
            }
            .bottom-text {
              color:#ffffff;
              font-size: 15px;
            }
          }

          &:hover {
            background: #0e0e0e;
            border: 1px solid #0e0e0e;
          }
        }
      }
    }
    .copy-right-text {
      text-align: center;
      color: #ffffff;
      padding: 22px;
      p {
        font-size: 16px;
        margin: unset;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .custom-footer {
    .footer-section {
      .bottom-section {
        .top-heading {
          .heading {
            h1 {
              font-size: 32px;
            }
          }
          .buttons-section {
            button {
              font-size: 14px;
            }
          }
        }
      }
      .footer-menu-section {
        .menu {
          h1 {
            font-size: 19px;
            margin-bottom: 10px;
          }
          ul {
            li {
              font-size: 12px;
              padding: 3px 0px;
              a {
                font-size: 14px;
              }
            }
          }
        }
      }
      .download-app-section-footer {
        .download-button {
          button {
            font-size: 13px;
          }
        }
      }
      // .copy-right-text{
      //     text-align: center;
      //     color: #969696;
      //     padding: 22px;
      //     p{
      //         font-size: 16px;
      //         margin: unset;
      //     }
      // }
    }
  }
}
@media screen and (max-width: 767px) {
  .custom-footer {
    .footer-section {
      .bottom-section {
        .top-heading {
          flex-flow: column;
          justify-content: flex-end;
          align-items: unset;
          .heading {
            margin-bottom: 13px;
            h1 {
              margin-bottom: 13px;
            }
          }
          .buttons-section {
            display: flex;
            flex-flow: column;
            button {
              margin: 10px 0px;
              text-align: left;
            }
          }
        }
      }
      .footer-menu-section {
        flex-flow: column;
        align-items: unset;
        .menu {
          h1 {
            font-size: 19px;
            margin-bottom: 10px;
          }
          ul {
            li {
              font-size: 12px;
              padding: 3px 0px;
              a {
                font-size: 14px;
              }
            }
          }
        }
      }
      .download-app-section-footer {
        flex-flow: column;
        align-items: unset;
        .social-icon {
          display: block !important;
          margin: 23px 0px;
        }
        .download-button {
          button {
            font-size: 13px;
          }
        }
      }
      // .copy-right-text{
      //     text-align: center;
      //     color: #969696;
      //     padding: 22px;
      //     p{
      //         font-size: 16px;
      //         margin: unset;
      //     }
      // }
    }
  }
}
