.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  font-family: "Lato", sans-serif;

  .custom-brand {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 47px;
    top: 0;
    background: #ffffff8f;
    border-radius: 3px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .navbar-toggler {
    background-color: #854ed26b;
  }

  .navbar-collapse {
    justify-content: flex-end;
    .custom-navbar {
      display: flex;
      align-items: center;
      li {
        a {
          padding: 5px 18px;
          color: #000000;
        }
      }
    }
    .dropdown-toggle::after {
      transition: transform 0.15s linear;
    }

    .show.dropdown .dropdown-toggle::after {
      transform: translateY(3px);
    }

    .dropdown:hover .dropdown-menu {
      display: block;
    }
    .dropdown-menu {
      margin-top: 15px;
      .triangle-container.level-2 {
        display: block;
        position: absolute;
        top: -25px;
        left: 64px;
        height: 25px;
        width: 60px;
        overflow: hidden;
      }
      .triangle.level-2 {
        display: block;
        width: 25px;
        height: 25px;
        margin-left: 1px;
        margin-top: 17px;
        background-color: white;
        transform: rotate(45deg);
        border-radius: 6px;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
      }
    }
  }
  -webkit-box-shadow: 0 8px 6px -6px #99999930;
  -moz-box-shadow: 0 8px 6px -6px #99999930;
  box-shadow: 0 8px 6px -6px #99999930;

  .navbar-toggler{
    color: white !important;
    background-color: #007b5e !important;
    position: absolute;
    right: 6%;
}
}

.navbar-transparent {
  background: transparent !important;
  box-shadow: unset;
  .custom-brand {
    background: transparent !important;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .navbar-collapse {
    padding: 28px 28px;
    .custom-navbar {
      li {
        .nav-link {
          padding: 5px 18px;
          color: #fff !important;
        }
      }
      .dropdown-menu {
        color: black !important;
      }
    }
  }
  
}
