<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-transparent ">
  <a class="navbar-brand custom-brand" href="#"
    ><img src="../../../assets/shine-logo.png" alt="_logo" class="logo"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-links"
       id="navbarSupportedContent" >
    <ul class="navbar-nav custom-navbar">
      <li class="nav-item active">
        <a class="nav-link nav-link-add" href="#">Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link nav-link-add dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Product
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="triangle-container level-2"><div class="triangle level-2"></div></div>
          <a class="dropdown-item" href="#">First Pro</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Second Pro</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Third Pro</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-add" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-add" href="#">Account</a>
      </li>
    </ul>
  </div>
</nav>

